@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
  width: 100%;
  height: 100vh;
  margin-top: 0;
  margin-left: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.navbar {
  z-index: 1000;
  width: 100%;
  height: 60px;
  text-align: center;
  filter: blur(200);
  position: fixed;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  row-gap: 10px;
  background: transparent;
  background-color: rgba(3, 3, 3, 0.678);
}

.logo {
  display: flex;
  align-items: center;
}

.logodetail {
  display: flex;
  align-items: center;
}

.logo .logodetail .img1 {
  width: 65px;
  height: 65px;
}

.logo .logodetail h3 {
  font-size: 25px;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}

.search {
  position: relative;
}

.search input[type="search"] {
  font-size: 15px;
  border: none;
  width: 100%;
  max-width: 50em;
  border-radius: 8px;
  color: rgb(35, 33, 33);
  padding: 8px;
  padding-left: 10px;
  margin-bottom: 8px;
  outline: none;
  border: none;
}

.buttons .out {
  justify-self: end;
  display: flex;
  align-items: center;
}

.out {
  display: none;
}

.buttons .signup,
.buttons .login,
.out .signout {
  color: #fff;
  background: #ffffff63;
  font-size: 17px;
  text-align: center;
  border: none;
  margin: 7px;
  margin-bottom: 10px;
  border-radius: 6px;
  padding: 6px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttons a {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .navbar {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 5px;
    text-align: center;
  }

  .search input[type="search"] {
    font-size: 10px;
    padding: 5px;
    border-radius: 5px;
  }
  .logo {
    margin-left: 3%;
  }

  .logodetail {
    gap: 0px;
  }

  .logo .logodetail h3 {
    font-size: 13px;
    margin-left: 3px;
  }

  .logo .logodetail .img1 {
    width: 20px;
    height: 20px;
  }

  .buttons .signup,
  .buttons .login {
    padding: 7px 8px;
    font-size: 7px;
    margin: 3px;
  }
}

/* Navbar Ends Hre */

/* Cards Stats Here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  margin-left: 5%;
  max-width: 1200px;
  padding: 10px;
}
.restaurant-container {
  margin-top: 30%;
  margin-bottom: -15%;
}

.card-slider {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  margin-top: 15px;
  gap: 30px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.card-slider::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.label-container {
  display: flex;
  align-items: center;
}

.label-container {
  display: flex;
  align-items: center;
}

.label-container h2 {
  color: #111;
  font-family: Poppins, serif;
  margin-right: auto;
  font-weight: 600;
}

.label-container .bi {
  font-size: 18px;
}

.label-container button {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: #1a1919;
  cursor: pointer;
  padding: 10px;
  width: fit-content;
  margin-left: 5px;
}

.label-container button:disabled {
  background-color: whitesmoke;
  cursor: not-allowed;
  border: none;
}

.restaurant-card {
  margin-left: 3%;
  transition: transform 0.3s ease-in-out;
  font-family: "Arial", sans-serif;
  background: transparent;
}

.restaurant-card:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.image-container {
  display: inline-block;
}

.image-container img {
  width: 350px;
  height: 240px;
  display: block;
  border-radius: 20px;
  object-fit: cover;
  image-rendering: pixelated;
}

.image-container::after {
  content: "";
  position: relative;
  top: 80%;
  left: 0;
  right: 0;
  border: none;
  border-radius: 0 0 20px 20px;
  bottom: 0;
}

.discount-badge {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 10px;
  padding: 5px;
  z-index: 2;
  font-weight: bold;
  font-size: 24px;
  font-family: "Proxima Nova Condensed", sans-serif;
}

.restaurant-name {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.rating {
  display: flex;
  align-items: start;
  margin-top: 5px;
  font-weight: semi-bold;
}

.review-count {
  margin-left: 5px;
  font-weight: semi-bold;
}

.delivery-info {
  display: flex;
  font-size: 16px;
  align-items: center;
}

.bi-star-fill {
  color: green;
}

.bi-dot {
  font-size: 26px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 350px;
    margin: auto;
    padding: 10px;
  }

  /* Card Slider */

  .label-container h2 {
    color: #111;
    font-family: Poppins, serif;
    margin-right: auto;
    font-size: 18px;
    font-weight: bold;
  }

  .label-container i {
    font-size: 14px;
  }

  /* Card Slider */

  /* Restaurant Card */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    gap: 10px;
    margin-top: 10px;
  }

  .image-container img {
    width: 180px;
    height: 140px;
    display: block;
    border-radius: 20px;
    object-fit: cover;
    image-rendering: pixelated;
  }

  .image-container::after {
    content: "";
    /* position: absolute; */
    top: 80%;
    left: 0;
    right: 0;
    border: none;
    border-radius: 0 0 20px 20px;
    bottom: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }

  .discount-badge {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 10px;
    padding: 5px;
    z-index: 2;
    font-weight: bold;
    font-size: 12px;
    font-family: "Proxima Nova Condensed", sans-serif;
  }

  .restaurant-name {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
  }

  .info-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
  }

  .rating {
    display: flex;
    align-items: start;
    margin-top: 3px;
    font-weight: semi-bold;
  }

  .review-count {
    margin-left: 3px;
    font-weight: semi-bold;
  }

  p {
    font-size: 10px;
  }

  .delivery-info {
    display: flex;
    font-size: 10px;
    align-items: center;
  }

  .bi-dot {
    font-size: 16px;
  }
  /* Restaurant Card */
}

/*footer*/
footer {
  top: 25%;
  z-index: 1000;
}

a {
  color: black;
  text-decoration: none;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
  padding-bottom: 8px !important;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo img {
  max-width: 120px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 21px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
.footer-cta .row .col-xl-4:nth-child(1) .single-cta i {
  position: absolute;
  color: #ff5e14;
}
/* .footer-cta .row .col-xl-4:nth-child(1) .single-cta .cta-text {
  
} */
.footer-cta .row .col-xl-4:nth-child(2) .single-cta i {
  color: #14ffa7;
}
.footer-cta .row .col-xl-4:nth-child(3) .single-cta i {
  color: #ffd700;
}
.footer-social-icon .social_icon {
  text-align: left;
}
.footer-social-icon .social_icon li {
  float: inherit !important;
  display: inline-block !important;
  width: inherit;
}
.footer-social-icon .social_icon li a i {
  font-size: 15px;
  line-height: 39px;
}
.footer-social-icon .social_icon li a {
  width: 40px;
  height: 40px;
}

.social_icon {
  text-align: right;
  margin: 0;
  margin-top: 3px;
}
.social_icon li {
  display: inline-block;
  margin: 0 5px;
}
.social_icon li a {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #fff;
  color: #000;
  text-align: center;
  border-radius: 100%;
  transition: 0.2s ease-in-out;
}
.social_icon li a i {
  font-size: 15px;
  line-height: 20px;
}
.social_icon li:nth-child(1) a {
  background: #4267b2;
  color: #fff;
}
.social_icon li:nth-child(2) a {
  background: #1da1f2;
  color: #fff;
}
.social_icon li:nth-child(3) a {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: #fff;
}
.social_icon li:nth-child(4) a {
  background: #ff0000;
  color: #fff;
}
.social_icon li:nth-child(1):hover a {
  background: #fff;
  color: #4267b2;
}
.social_icon li:nth-child(2):hover a {
  background: #fff;
  color: #1da1f2;
}
.social_icon li:nth-child(3):hover a {
  background: #fff;
  color: #bc1888;
}
.social_icon li:nth-child(4):hover a {
  background: #fff;
  color: #ff0000;
}

/* Cards Ends Here */

/* Slider CSS Starts Here */
.slider {
  position: relative;
  width: 90%;
  overflow: hidden;
  box-shadow: 0 1.75rem 3rem -0.75rem rgba(0, 0, 0, 0.61);
  border-radius: 15px;
  top: 14%;
  left: 5%;
}

.slides {
  display: flex;
}

.slides img {
  width: 100%;
  object-fit: fill;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  aspect-ratio: 16/9;
}
/* Slider CSS Ends Here */

@media screen and (max-width: 768px) {
  .navbar {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 5px;
    text-align: center;
  }

  .search input[type="search"] {
    font-size: 10px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
  }
  .logo {
    margin-left: -1%;
  }

  .logodetail {
    gap: 0px;
  }

  .logo .logodetail h3 {
    margin-bottom: 5px;
    margin-left: -5px;
    font-size: 20px;
  }

  .logo .logodetail .img1 {
    width: 40px;
    height: 40px;
  }

  .buttons .signup,
  .buttons .login,
  .out .signout {
    padding: 7px 13px;
    font-size: 9px;
    margin: 3px;
  }
}
